<div class="row">



<div class="card" style="width: 18rem;">
  <img src="~/images/domates.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Domates</h5>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="~/images/patates.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Patates</h5>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="~/images/Patlıcan.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Patlıcan</h5>
  </div>
</div>

</div>